<h1>Create a category</h1>

<form action="/categories" method="POST">
	<input type="text" placeholder="id" name="id"/><br />
	<input type="text" placeholder = "name" name="cat_name"/><br />
	<input type="text" placeholder = "description" name="description" /><br />
	<input type="submit" value="Create" />
</form>

<h1>Create a Product</h1>
<form action="/product" method="POST">
	<input type="text" placeholder="title"name="title"/><br />
	<input type="text" placeholder="price" name="price" /><br />
	<input type="text" placeholder="category" name="category" /><br />
	<input type="text" placeholder="description" name="description" /><br />
	<input type="text" placeholder="quantity" name="quantity" /><br />
	<input type="text" placeholder="img" name="img" /><br />
	<input type="submit" value="Create" />
</form>

 {{#each categories}}


<h1>Update a Category</h1>
<form action="/editCategory{{this.id}}" method ="GET">
	<input type="text" placeholder="{{this.id}}"name="id"/><br />
	<input type="text" value="{{this.cat_name}}"name="cat_name"/><br />
	<input type="text" value="{{this.description}}" name="description" /><br />
	<input type="submit"  value="Edit" />

</form>

ID {{this.id}}


DESCRIPTION {{this.description}}

{{/each}}


{{#each products}}


<h1>Update a Product</h1>
<form action="/editProduct{{this.id}}" method="GET">
	<input type="text" value="{{this.id}}"name="id"/><br />
	<input type="text" value="{{this.title}}"name="title"/><br />
	<input type="text" value="{{this.price}}" name="price" /><br />
	<input type="text" value="{{this.category}}" name="category" /><br />
	<input type="text" value="{{this.description}}" name="description" /><br />
	<input type="text" value="{{this.quantity}}" name="quantity" /><br />
	<input type="text" value="{{this.image}}" name="image" /><br />
	<input type="submit" value="Edit" />
</form>

ID {{this.id}}

TITLE {{this.title}}

PRICE {{this.price}}

CATEGORY {{this.category}}

DESCRIPTION {{this.description}}

QUANTITY {{this.quantity}}

IMAGE {{this.image}}

{{/each}}

<a href = "admin/showAllOrders"> Show all placed orders </a>
