<h1>Create a category</h1>

<form action="/categories" method="POST">
	<input type="text" placeholder="id" name="id"/><br />
	<input type="text" placeholder = "name" name="cat_name"/><br />
	<input type="text" placeholder = "description" name="description" /><br />
	<input type="submit" value="Create" />
</form>

<br>
<br>
<br>

<h1>Create a Product</h1>
<form action="/product" method="POST">
	<input type="text" placeholder="title"name="title"/><br />
	<input type="text" placeholder="price" name="price" /><br />
	<input type="text" placeholder="category" name="category" /><br />
	<input type="text" placeholder="description" name="description" /><br />
	<input type="text" placeholder="quantity" name="quantity" /><br />
	<input type="text" placeholder="img" name="img" /><br />
	<input type="submit" value="Create" />
</form>
<br>
<br>
<br>
<br>

<h1>Categories</h1>
 {{#each categories}}
<h5>Category: {{this.cat_name}}</h5><pre>
<form action="/editCategory{{this.id}}" method ="GET">
	ID:   <input type="text" placeholder="{{this.id}}"name="id"/><br />
	Name: <input type="text" value="{{this.cat_name}}"name="cat_name"/><br />
	Desc: <input type="text" value="{{this.description}}" name="description" /><br />
	<input type="submit"  value="Edit" />
</form></pre>
<br>
<br>
{{/each}}

<h1>Products</h1>
{{#each products}}
<h5>Product: {{this.title}}</h5><pre>
<form action="/editProduct{{this.id}}" method="GET">
	ID:    <input type="text" value="{{this.id}}"name="id"/><br />
	Title: <input type="text" value="{{this.title}}"name="title"/><br />
	Price: <input type="text" value="{{this.price}}" name="price" /><br />
	Cat:   <input type="text" value="{{this.category}}" name="category" /><br />
	Desc:  <input type="text" value="{{this.description}}" name="description" /><br />
	Qty:   <input type="text" value="{{this.quantity}}" name="quantity" /><br />
	Img:   <input type="text" value="{{this.image}}" name="image" /><br />
	<input type="submit" value="Edit" />
</form></pre>

{{/each}}

<a href = "admin/showAllOrders"> Show all placed orders </a>
