{{#each categories}}


<h1>Update a Category</h1>
<form action="/categories/{{this.id}}" method="PUT">
	<input type="hidden" placeholder="{{this.cat_id}}"name="id"/><br />
	<input type="text" value="{{this.cat_name}}"name="cat_name"/><br />
	<input type="text" value="{{this.description}}" name="description" /><br />
	<input type="submit" value="Update" />
</form>

ID {{this.id}}

NAME {{this.cat_name}}

DESCRIPTION {{this.description}}

{{/each}}

<h1>Create a category</h1>
<form action="/categories" method="POST">
	<input type="text" placeholder="id" name="id"/><br />
	<input type="text" placeholder = "name" name="cat_name"/><br />
	<input type="text" placeholder = "description" name="description" /><br />
	<input type="submit" value="Create" />
</form>

