You are on the products page.

{{#each products}}

ID {{this.id}} <br>

TITLE {{this.title}} <br>

PRICE {{this.price}} <br>

CATEGORY {{this.category}} <br>

DESCRIPTION {{this.description}} <br>

QUANTITY {{this.quantity}} <br>

IMAGE {{this.image}} <br>

<a href="IDK"> Add to cart </a>

<br>
<br>

{{/each}}