You are on the products page.

{{#each products}}

ID {{this.id}} <br>

TITLE {{this.title}} <br>

PRICE {{this.price}} <br>

CATEGORY {{this.category}} <br>

DESCRIPTION {{this.description}} <br>

QUANTITY {{this.quantity}} <br>

IMAGE {{this.image}} <br>



<a href="/viewProducts/createCartItem/{{this.id}}"> Add to cart </a>

<br>
<br>

{{/each}}

{{#each items}}

PRODUCT ID {{this.ProductId}}


PRODUCT QUANTITY {{this.item_quantity}}

{{/each}}

Total {{total}}

